version: '3.9'

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "5000:5000"
    depends_on:
      - auth-service
      - user-service

  auth-service:
    build: ./auth-service
    ports:
      - "5008:5008"

  user-service:
    build: ./user-service
    ports:
      - "5007:5007"

  booking-service:
    build: ./booking-service
    ports:
      - "5001:5001"
  cars-service:
      build: ./cars-service
      ports:
        - "5002:5002"
  notifications-service:
      build: ./notifications-service
      ports:
        - "5003:5003"
  review-service:
      build: ./review-service
      ports:
        - "5004:5004"
  serviceProvider-service:
      build: ./serviceProvider-service
      ports:
        - "5005:5005"
  services-service:
      build: ./services-service
      ports:
        - "5006:5006"

  # Add other services here...

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
